[submodule "components/nfc/tools/impl/src/main/cpp/nfc-tools"]
	path = components/nfc/tools/impl/src/main/cpp/nfc-tools
	url = https://github.com/flipperdevices/flipperzero-nfc-tools.git
	branch = 808695143e7d6eb225398bcfd29e0009066e2c93
[submodule "components/bridge/pbutils/src/main/proto"]
	path = components/bridge/pbutils/src/main/proto
	url = https://github.com/flipperdevices/flipperzero-protobuf.git
	branch = 0.25
[submodule "components/analytics/metric/impl/src/main/proto"]
	path = components/analytics/metric/impl/src/main/proto
	url = https://github.com/flipperdevices/flipperzero-protobuf-metric.git
	branch = 9f45a065dce77c14d6f39743f7c5ffc9ab5d4f2d
